weights/trocr-base-printed-finetuned/model.safetensors filter=lfs diff=lfs merge=lfs -text
weights/damage.pt filter=lfs diff=lfs merge=lfs -text
weights/container_iso.onnx filter=lfs diff=lfs merge=lfs -text
